<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ chocolate.name }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ chocolate.name }}</h1>
            <p class="text-center">{{ chocolate.description }}</p>

            <h2 class="mt-4">Ingredients</h2>
            <ul class="list-group">
                {% for ingredient in chocolate.ingredient_set.all %}
                <li class="list-group-item">{{ ingredient.name }} - {{ ingredient.quantity }}</li>
                {% endfor %}
            </ul>

            <h2 class="mt-4">Steps</h2>
            <ul class="list-group">
                {% for step in chocolate.step_set.all %}
                <li class="list-group-item">{{ step.description }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Optional Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

<!--<h1>{{ chocolate.name }}</h1>-->
<!--<p>{{ chocolate.description }}</p>-->

<!--<h2>Ingredients</h2>-->
<!--<ul>-->
<!--    {% for ingredient in chocolate.ingredient_set.all %}-->
<!--    <li>{{ ingredient.name }} - {{ ingredient.quantity }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!--<h2>Steps</h2>-->
<!--<ul>-->
<!--    {% for step in chocolate.step_set.all %}-->
<!--    <li>{{ step.description }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
